{% macro render_blog_post(post, from_index=false) %}
<div class="post">
  <article class="blog-post">

    {% if from_index %}
    <h2><a href="/{{ post.url }}">{{ post.tag }}</a> / <a href="{{ post|url }}">{{ post.title }}</a></h2>
    {% else %}
    <h2><a href="/{{ post.url }}">{{ post.tag }}</a> / {{ post.title }}</h2>
    {% endif %}

    <p class="meta">发表于 {{ post.pub_date }}</p>

    <div class="toc">
      <ul>
        {% for item in post.body.toc recursive %}
        <li><a href="#{{ item.anchor }}">{{ item.title }}</a>
          {%if item.children %}<ul>{{ loop(item.children) }}</ul>{% endif %}</li>
        {% endfor %}
      </ul>
    </div>

    {% if post.post_image %}
    <p class="post-image">
      <img src="{{ post.post_image|url }}" width="100%" alt="">
    </p>
    {% endif %}

    {{ post.body }}

  </article>>
</div>
{% endmacro %}
