@font-face {
    font-family: "Noe Text";
    src: 
        url("./Noe-Text-Black.woff2") format("woff2"), 
        url("./Noe-Text-Black.woff") format("woff");
    font-style: normal;
    font-weight: 900;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lyon Text";
    src: 
        url("./Lyon-Text-Regular.woff2") format("woff2"), 
        url("./Lyon-Text-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'qingkai';
    src:
      url('./qingkai.woff2') format('woff2'),
      url('./qingkai.woff') format('woff');
    font-weight: normal;
    font-style: 400;
    font-stretch: normal;
    font-display: swap;
  }

html, body, div#canvas {
    height: 100%; /* using flex*/
}

body {
    font-family: Lyon Text, qingkai, serif;
    font-size: 1.25rem;
}

/* for layout*/
div#canvas {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 40em;
    padding: 0 30px;
    width: auto;
}
header, footer {
    flex: 0 1 auto;
    margin: 20px auto;
    text-align: center;
}
div.page {
    flex: 1 1 auto;
}

/* for website name style */
header .logo-text {
    text-align: center;
    text-transform: uppercase;

    font-family: Noe Text, qingkai, serif;
    font-weight: bold;
}

/* for nav style */
header nav ul {
    list-style: none;

    margin: 0;
    padding: 0;
}
header nav ul li {
    display: inline;

    margin: 0 8px 0 0;
    padding: 0;
}

div.page .logo-text, div.page .pagination {
    text-align: center;
}

/* for post title */
div.page .blog-post h2 {
    font-family: Noe Text, qingkai, serif;
}

/* for first paragraph style*/
p.firstpara:first-letter {
    font-size: 4em;
    font-weight: bold;
    margin-right: 8px;
    float: left;	
}
.smallcaps {
    font-variant: small-caps;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    text-transform: lowercase;
}

/* for post field style */
p.meta {
    font-style: italic;
    font-size: 1rem;
}

/* for post pagination */
div.nav-prev {
    float: left;
}
div.nav-next {
    float: right;
}

a {
    color: #2a99b6;
    text-decoration: none;
}

a:hover {
    color: #33bbdf;
    text-decoration: underline;
}

p.post-image>img {
    display:block;
    margin:auto;

    border-radius: 50%;
    width: 75%;
    height: 75%;
}