html, body, div#canvas {
    height: 100%; /* using flex*/
}

body {
    font-family: Roboto Slab, Georgia, Times New Roman, sans-serif;
}

div#canvas {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50em;
    padding: 0 30px;
    width: auto;
}

header, footer {
    flex: 0 1 auto;
    margin: 20px auto;
    text-align: center;
}

div.page {
    flex: 1 1 auto;
}

header h1 {
    color: #169bbd;
    text-align: center;
    text-transform: uppercase;

    font-family: "noto sans", sans-serif;
    font-weight: bold;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page .blog-post {
      flex: 1 1 auto;
}

div.page h1, div.page .pagination {
  text-align: center;
}

.meta {
  font-style: italic;
  font-weight: lighter;
}

a {
    color: #2a99b6;
    text-decoration: none;
}

a:hover {
    color: #33bbdf;
    text-decoration: underline;
}
