<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ '/static/favicon.ico'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/normalize.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<title>{% block title %}Welcome{% endblock %} — StickMind</title>

<body>
  <div id="canvas">
    <header>
      <h1 class="logo-text"><a href="/">StickMind</a></h1>
      <nav>
        <ul class="nav navbar-nav">
          {% for href, title in [
          ['/code', '代码'],
          ['/english', '英语'],
          ['/music', '音乐'],
          ['/photography', '摄影'],
          ['/blog', '文章']
          ] %}
          <li {% if this.is_child_of(href) %} class="active" {% endif %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <div class="page">
      {% block body %}{% endblock %}
    </div>

    <footer>&copy; 2019 StickMind.</footer>
  </div>
</body>
